@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --success: green;
  --fail: red;
  --gray: #56566E;
  --grayer: #282828;
  --dark: #3B3B45;
  --darker: #35353E;
  --text-light: #B5B5BF;
}

/* @layer utilities {} */